@import "tailwindcss";

/* custom font */
@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay.ttf") format("truetype");
}

body {
  font-family: "Montserrat", sans-serif;
}

.text-glow-orange {
  text-shadow: 3px 3px 1px #ff7f00;
}

.text-glow-purple {
  text-shadow: 3px 3px 1px #6a0dad;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 25s ease-in-out infinite alternate;
}

.custom-dash {
  border-style: dashed;
  border-image: repeating-linear-gradient(
      to right,
      #ffffff 0,
      #ffffff 20px,
      transparent 20px,
      transparent 30px /* gap length */
    )
    1;
}
